@font-face {
    font-family: montserrat;
    src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: montserrat2;
    src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: montserrat3;
    src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: 400;
}
body{
    padding: 0;
    margin: 0;
    background-color: #d9d7d4;
}
.u-nav{
    background-color: #191716;
    font-family: montserrat;
}
.u-carrousel{
    padding-top: 50px;
}
.grid-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 62.5rem;
    margin: auto;
    padding: 60px;
}
.grid-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2rem;
}
.grid-item img {
    max-width: 31.25rem;
    width: 100%;
    height: auto;
    display: block;
}
.text h2 {
    margin: 0;
    font-size: 1.8rem;
    font-family: montserrat;
}
.text p {
    margin: 0.5rem 0 0;
    font-size: 1rem;
    color: #555;
    font-family: montserrat3;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #191716;
    padding: 1.875rem;
    color: #fff;
    text-align: center;
    font-family: montserrat3;
}
.grid-container ul {
    list-style: none;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 1.875rem;
    padding-bottom: 40px;
}
.grid-container li {
    display: grid;
    grid-template-rows: auto auto;
    gap: .3125rem;
    margin-bottom: .9375rem;
    font-family: montserrat3;
    padding: 20px;
}
.grid-container li strong {
    font-size: 1.2rem;
    font-weight: bold;
    color: #191716;
    font-family: montserrat2;
}
.h2{
    text-align: center;
    padding-top: 100px;
    font-family: montserrat;
}
.contacto {

    margin-bottom: 3.125rem;
    padding: 100px;
}
.contacto .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.125rem 1.25rem;
    font-family: montserrat3;
}
.contacto .form-container {
    background: white;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.625rem;
    width: 100%;
    max-width: 25rem;
}
.contacto .form-container h2 {
    text-align: center;
    margin-bottom: 0.625rem;
}
.contacto label {
    margin-top: 0.625rem;
}
.contacto input, .contacto textarea {
    width: 100%;
    padding: 0.625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    resize: vertical;
}
.contacto .send {
    width: 100%;
    padding: 0.625rem;
    background-color: #191716;
    color: white;
    border-width: 0.0625rem;
    border-color: #fff;
    border-style: solid;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contacto .send:hover {
    background-color: #fff;
    color: #191716;
    border-width: 0.0625rem;
    border-color: #191716;
    border-style: solid;
}
.contacto .contactame {
    color: #5e5757;
    font-size: 0.75rem;
    padding-top: 0.625rem;
    text-align: center;
}
@media (max-width: 768px) {
    .grid-item {
    grid-template-columns: 1fr;
    text-align: center;
    }
    .grid-item img {
    max-width: 100%;
    }
    .text h2 {
    font-size: 1.5rem;
    }
    .text p {
    font-size: 0.95rem;
    }
}